---
# Provision EC2 hosts
- name: "AWS | Provision EC2 | Create EC2 instance"
  ec2:
    region: "{{ ec2_region }}"
    assign_public_ip: "{{ assign_public_ip }}"
    ec2_access_key: "{{ ec2_access_key }}"
    ec2_secret_key: "{{ ec2_secret_key }}"
    keypair: "{{ item.keypair }}"
    group: "{{ item.group }}"
    instance_type: "{{ item.instance_type }}"
    image: "{{ item.image }}"
    vpc_subnet_id: "{{ item.vpc_subnet_id }}"
    instance_tags: "{{ item.instance_tags }}"
    exact_count: "{{ item.exact_count }}"
    count_tag: "{{ item.count_tag }}"
    wait: true
  register: ec2
  with_items: "{{ ec2_list }}"

- name: AWS | Provision EC2 | Add new instance to host group
  add_host:
    hostname: "{{ item.public_ip }}"
    groups: "{{ item.tags.Name }}"
  with_items: "{{ ec2.results.0.tagged_instances }}"


- name: AWS | Provision EC2 | Wait for SSH to come up
  wait_for:
    host: "{{ item.public_ip }}"
    port: 22
    delay: 15
    timeout: 320
    state: started
  with_items: "{{ ec2.results.0.tagged_instances }}"
