{
  "stacks": [
    {
      "name": "healthcheck",
      "templateId": "library:infra*healthcheck"
    },
    {
      "name": "kubernetes",
      "answers": {
        "CONSTRAINT_TYPE": "{{ constraint_type }}",
        "CLOUD_PROVIDER": "{{ cloud_provider }}",
        "DISABLE_ADDONS": "false",
        "POD_INFRA_CONTAINER_IMAGE": "gcr.io/google_containers/pause-amd64:3.0",
        "REGISTRY": "",
        "EMBEDDED_BACKUPS": true,
        "BACKUP_PERIOD": "15m0s",
        "BACKUP_RETENTION": "24h",
        "ETCD_HEARTBEAT_INTERVAL": "500",
        "ETCD_ELECTION_TIMEOUT": "5000"
      },
      "templateId": "library:infra*k8s"
    },
    {
      "name": "network-services",
      "templateId": "library:infra*network-services"
    },
    {
      "name": "ipsec",
      "templateId": "library:infra*ipsec"
    },
    {
      "name": "scheduler",
      "templateId": "library:infra*scheduler"
    }
  ],
  "description": "{{ project_name }}",
  "externalId": "{{ external_id }}",
  "name": " {{ project_name }}",
  "isPublic": "{{ is_public }}"
}
